@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Josefin Sans", sans-serif;
}

.spinner {
  width: 100px;
  height: 100px;
  background: linear-gradient(90deg, #009fff, #ec2f4b);
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}

.spinner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  width: 80%;
  height: 90%;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px black;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
